# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=coaniquem
DATABASE_PASSWORD=coaniquem_dev
DATABASE_NAME=coaniquem_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# BSale
BSALE_API_URL=https://api.bsale.cl/v1
BSALE_ACCESS_TOKEN=6ac7ba577a8cbfe7e9e4f2016128455965c5aad0

# JWT

JWT_ACCESS_SECRET=coaniquem-access-secret-2026
JWT_REFRESH_SECRET=coaniquem-refresh-secret-2026
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# App
PORT=3000
NODE_ENV=development
